.heading {
    width: 90%;
    height: 60px;
    min-height: 60px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    font-weight: 600;
    font-size: 1em;
    color: #3e4444;
    position: sticky;
    top: 0;
    background-color: #e0e2e4;
    z-index: 90;
}

.headingItem {
    width: 10%;
}

.blank-left {
    width: 74px;
}

.blank-right {
    width: 50px;
}